body {
	font-family: "Roboto", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	font-size: 16px;
}

.container {
	display: flex;
	width: 90vw;
	height: 80vh;
}

.card {
	color: white;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 10px;
	margin: 4px;
	cursor: pointer;
	flex: 1;
	caret-color: transparent;
	position: relative;
	transition: flex 200ms ease-in-out;
}

.card h3 {
	font-size: 24px;
	position: absolute;
	bottom: 20px;
	left: 20px;
	margin: 0;
	padding: 0;
	opacity: 0;
	overflow: hidden;
	white-space: nowrap;
}

.card.active {
	flex: 5;
}

.card.active h3 {
	opacity: 1;
	transition: opacity 350ms ease-in;
}
