:root {
	font-family: "Roboto", sans-serif;
	--no-progress: #e0e0e0;
	--progress: #3498db;
	--hover: #1e81c4;
	--transition-speed: 400ms;
}

body {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #f6f7fb;
	user-select: none;
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.progress-container {
	position: relative;
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
	justify-content: space-between;
	max-width: 100%;
	width: 400px;
}

.progress-container::before {
	content: "";
	background-color: var(--no-progress);
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	height: 4px;
	width: 100%;
	z-index: -1;
}

.progress {
	background-color: var(--progress);
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	height: 4px;
	width: 0%;
	z-index: -1;
	transition: var(--transition-speed) ease;
}

.circle {
	background-color: #fff;
	color: #999;
	height: 30px;
	width: 30px;
	border: solid 3px var(--no-progress);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: var(--transition-speed) ease;
}

.circle.active {
	border: solid 3px var(--progress);
	color: var(--progress);
}

.btn-container {
	width: 300px;
	display: flex;
	justify-content: space-evenly;
}

.btn {
	background-color: var(--progress);
	color: #fff;
	cursor: pointer;
	border: none;
	width: 7rem;
	height: 3rem;
	border-radius: 7px;
	font-size: 16px;
	font-weight: bold;
	transition: background-color var(--transition-speed);
}

.btn:hover {
	background-color: var(--hover);
}

.btn.disabled {
	background-color: var(--no-progress);
	cursor: default;
}

.btn.disabled:hover {
	background-color: var(--no-progress);
}
