:root {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2a4294;
}

.container {
	width: 60vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

.code-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.box {
	border: 1px #ddd solid;
	padding: 1rem;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 1.5rem;
}

.label {
	color: white;
}

.hidden {
	display: none;
}
